h1{
    text-align: center;
    font-size: 1em;
    color: blue;
    margin-bottom: .3em;
    text-decoration: underline;
}

.side nav{
    width: 130px;
    position: fixed;
    top: 20px;
    left: 10px;

}

.side nav a{
    padding: 6px 8px 6px 16px;

}

.main{
    margin-left: 140px;
    font-size: 20px;
    padding: 0px 10px;

}

.side nav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196f3;
    display: block;

}

.main{
    margin-left: 100px;
    font-size: 28px;
    padding: 10px 10px;
    background-image: url(/home/user/Downloads/IMG_20180707_203951.jpg);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    

}